@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark body {
  background-color: #020617;
}
